body,html{
    height: 100%;
    width: 100%;
    padding: 1px;
}

.block{
    width: 100%;
    background-color: blue;
    padding: 20px;
    padding-bottom: 10px;
    color: white;
}

.heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.nav{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 8px;
    padding-left: 0px;
}

.nav-stick{
    position: sticky;
    top: 0px;
    z-index: 2;
}

.nav:hover,.buttonLink:hover{
    color: #a29d9d;
    cursor: pointer;
}

.mb-lg{
    margin-bottom: 80px;
}

.mb-sm{
    margin-bottom: 20px;
}

.resize-img{
    width: 30px;
    height: 25px;
}

.float-left{
    float: left;
    height: 80vh;
    width: 45%; 
}

.content{
    margin-left: 47%;
    margin-top: 15px;
}

.top{
    margin-top: 0px;
}

.toggle{
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.toggle-blue{
    background-color: blue;
}

.toggle-black{
    background-color: black;
}

.cards{
    padding: 10px;
    margin: 20px 0px 20px 10px;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
}

.cards-service{
    width: 400px;
}

.frameimg{
    width: 90%;
    height: 60%;
    border-radius: 15px;
}

.center{
    margin-top: 40px;
    text-align: center;
}

.position-relative{
    position: relative;
    left: 50px;
    z-index: 0;
}

.textbox{
    width: 45%;
    border-radius: 8px;
    margin: 15px;
    padding: 10px;
    padding-left: 70px;
}

.login-btn{
    padding-left: 0px;
    margin-left: 25px;
}

::placeholder{
    color: black;
}

.center-box{
    margin: auto;
    width: 100%;
    height: 90vh;
    padding: 15px;
    padding-top: 50px;
    background-image: url("https://wallpapercave.com/wp/wp2774691.png");
}

.flex-cards{
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
}

.active{
    color: black !important;
    font-weight: 700;
}

.linkbtn{
    color: white;
    text-decoration: none;
}

.book-date{
    float: right;
    margin-top: 20px;
}

.left-align{
    text-align: left;
    margin-top: 60px;
}

.fontawesome-delete{
    float: left;
}

.fontawesome-edit{
    float: right;
}

.fontawesome-user{
    float: right;
    color: black;
}

.align-center{
    text-align: center;
    border: 2px solid black;
    background-color: pink;
    padding: 20px;
    margin-top: 20px;
}

.show-alert{
    background-color: grey;
    height: 40px;
    padding: 10px;
    font-weight: 500;
    width: 100%;
    display: block;
}

.alert-user{
    float: left;
    color: white;
}

.contact{
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 40px;
}

.dark-mode{
    background-image: url("https://wallpapercave.com/wp/wp4673215.png");
    /* height: 550px; */
    height: 90vh;
    width: 100%;
}

.fontsize-4{
    font-size: 21px;
}

@media screen and (max-width: 800px) {
    .textbox{
        width: 52%;
    }
}

@media screen and (max-width: 700px) {
    .heading{
        font-size: 26px;
        font-weight: 650;
    }

    .contact{
        font-size: 35px;
    }

    .textbox{
        margin: 10px;
        padding: 8px;
        padding-left: 60px;
        width: 60%;
    }

    .login-btn{
        padding-left: 0px;
        margin-left: 20px;
    }

    .float-left{
        height: 60vh;
        width: 80%;
    }

    .content{
        margin-left: 5%;
        margin-right: 5%;
    }

    .top{
        display: flex;
        flex-direction: column;
    }

    .top {
        align-items: center;
    }
}

@media screen and (max-width: 900px) and (min-height: 700px) {
    .float-left{
        height: 50vh;
        width: 80%;
    }

    .content{
        margin-left: 5%;
        margin-right: 5%;
    }

    .top{
        display: flex;
        flex-direction: column;
    }

    .top {
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .nav,.buttonLink{
        padding: 0px 7px;
        font-size: 17.5px;
    }

    .top{
        display: flex;
        flex-direction: column;
    }

    .content{
        margin-left: 5%;
        margin-right: 5%;
    }

    .float-left{
        height: 60vh;
        width: 80%;
    }

    .top {
        align-items: center;
    }

    .fontsize-4{
        font-size: 18px;
    }

    .textbox{
        width: 65%;
    }
}

@media screen and (max-width: 500px) {
    .textbox{
        width: 75%;
        padding-left: 55px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .login-btn{
        padding-left: 0px;
    }

    .position-relative{
        left: 44px;
    }

    .font-size-md{
        font-size: 15px;
    }

    .font-size-md h3{
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    .nav{
        font-size: 15px;
        padding: 0px 5.1px;
    }

    .heading{
        font-size: 25px;
        font-weight: 600;
    }

    .float-left{
        height: 50vh;
    }

    .contact{
        font-size: 30px;
    }

    .toggle{
        padding: 7px;
        font-size: 13px;
    }

    .login-btn{
        font-size: 15px;
    }

    .cards-service{
        height: 400px;
    }

    .textbox{
        padding-top: 5px;
        padding-bottom: 5px;
        width: 85%;
    }

    .alert-user{
        font-size: 13px;
    }

    .fontawesome-user{
        font-size: 13px;
    }
}

@media screen and (max-width: 350px) {
    .heading{
        font-size: 21.5px;
        font-weight: 600;
    }

    .block{
        padding: 13px;
    }

    .nav{
        font-size: 14px;
        padding: 0px 4.7px;
    }

    .contact{
        font-size: 25px;
    }

    .textbox{
        width: 94%;
        margin: 0px;
        margin-top: 3px;
        margin-bottom: 3px;
        padding: 5px;
        padding-left: 45px;
    }

    .login-btn{
        padding-left: 0px;
        margin-left: 10px;
    }

    .position-relative{
        left: 29px;
    }

    .alert-user{
        font-size: 12.5px;
    }

    .fontawesome-user{
        font-size: 12.5px;
    }

    .fontsize-4{
        font-size: 17px;
    }
}

@media screen and (max-width: 310px) {
    .heading{
        font-size: 20px;
    }

    .block{
        padding-right: 1px;
    }

    .nav{
        font-size: 4.6vw;
        padding: 3.5px;
    }

    .alert-user{
        font-size: 12px;
    }

    .fontawesome-user{
        font-size: 12px;
    }

    .font-size-md{
        font-size: 14px;
    }

    .font-size-md h3{
        font-size: 17px;
    }

    .textbox{
        width: 93%;
        padding: 4px;
        padding-left: 45px;
        font-size: 14.5px;
    }

    .font-size-icon{
        font-size: 14.5px;
    }

    .login-btn{
        padding-left: 0px;
    }

    .position-relative{
        left: 27px;
    }
}

@media screen and (max-width: 270px) {
    .heading{
        font-size: 18.8px;
    }

    .nav{
        font-size: 12px;
        padding: 2.5px 3px;
    }

    .float-left{
        height: 45vh;
    }

    .contact{
        font-size: 20px;
    }

    .cards-service{
        height: 450px;
    }

    .alert-user{
        font-size: 11px;
    }

    .fontawesome-user{
        font-size: 11px;
    }

    .show-alert{
        height: 50px;
    }

    .textbox{
        width: 92%;
    }
}

@media screen and (max-width: 240px) {
    .heading{
        font-size: 16.6px;
    }

    .nav{
        font-size: 11.7px;
        padding: 2.5px 3.2px;
    }

    .position-relative{
        left: 24px;
    }

    .textbox{
        padding-left: 35px;
        font-size: 13.5px;
    }

    .font-size-icon{
        font-size: 13.5px;
    }

    .login-btn{
        padding-left: 0px;
    }
}

@media screen and (max-width: 223px) {
    .nav{
        font-size: 11.2px;
        padding: 2.5px 3px;
    }

    .heading{
        font-size: 14.8px;
    }

    .cards-service{
        height: 480px;
    }

    .mb-10{
        margin-bottom: 10px;
    }

    .position-relative{
        left: 21.5px;
    }

    .textbox{
        width: 91.5%;
        padding-left: 31px;
        font-size: 13px;
    }
    
    .font-size-icon{
        font-size: 13px;
    }

    .login-btn{
        padding-left: 0px;
    }
}