.navmy{
    color: white;
    text-decoration: none;
}

.firstmy{
    margin-left: 500px;
}

.headingmy{
    float: left !important;
    font-size: 35px;
    margin-left: 20px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 5px;
}

.blockmy{
    background-color: blue;
    overflow: hidden;
    /*flex-wrap: wrap;*/
    display: flex;
    flex-direction: row;
    
}

.blockmy a{
    padding: 25px 7px 30px 7px;
    font-size: 20px;
}

.blockmy a:hover, .buttonLink:hover{
    color: black;
    background-color: white;
}

.float-leftmy{
    float: left;
    height: 650px;
    width: 40%;
}

.contentmy{
    margin-left: 43%;
    margin-top: 15px;
}

.topmy{
    margin-top: 0px;
}

.togglemy{
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.togglemy-blue{
    background-color: blue;
}

.togglemy-black{
    background-color: black;
}

.cardsmy{
    padding: 15px;
    margin: 20px 10px 0px 10px;
    border: 3px solid black;
    text-align: center;
    border-radius: 10px;
}

.cardsmyservice{
    height: 480px;
    width: 420px;
}

.frameimgmy{
    width: 90%;
    height: 60%;
}

.centermy{
    margin-top: 40px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

.textboxmy{
    width: 40%;
}

.center-boxmy{
    margin-left: 30%;
    border: 4px solid black;
    height: 280px;
    width: 40%;
    background-color: darkkhaki;
}

.padmy{
    padding: 10px;
}

.margin-padmy{
    margin-top: 20px;
}

.flex-cardsmy{
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}

.activemy{
    color: black !important;
    font-weight: 700;
}

.linkbtnmy{
    color: white;
    text-decoration: none;
}

.datemy{
    float: right;
    margin-top: 20px;
}

.alignmy{
    text-align: left;
    margin-top: 60px;
}

.fontawesome-delete{
    float: left;
}

.fontawesome-edit{
    float: right;
}

.fontawesome-user{
    float: right;
    color: black;
}

.servicesmy{
    margin-left: 40px;
}

.service-imgmy{
    width: 45%;
    height: 30%;
}

.align-centermy{
    text-align: center;
    border: 2px solid black;
    background-color: pink;
    padding: 20px;
    margin-top: 20px;
}

.dark-modemy{
    background-color: black;
    color: white;
}

.buttonLink{
    background-color: blue;
    color: white;
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 10px;
    border: 0px;
}

.alertmy{
    background-color: grey;
    height: 40px;
    padding: 10px;
    padding-left: 25px;
    color: white;
}

.contact{
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 40px;
}

.darkmy-mode{
    background-color: black;
    height: 550px;
    width: 100%;
}

@media screen and (max-width : 600px) {
    .firstmy {
        margin-left: 0px;
    }
    .blockmy{
        flex-direction: column;
    }
    .flex-cardsmy{
       flex-direction: column;
    }
    .cardsmy{
        width: 350px;
        float: right;
        overflow: hidden;
    }
    .service-imgmy{
        width: 80%;
    }
    .topmy{
        display: flex;
        flex-direction: column;
    }
    .contentmy{
        margin-left: 20px;
    }
    .float-leftmy{
        margin-left: 20px;
        height: 400px;
        width: 300px;
    }
    .buttonLink{
        margin-right: 500px;
        padding-right: 550px;
    }
}